<% if target.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Oops, it looks like we have <%= pluralize(target.errors.count, "error") %>:
    </div>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %>!</li>
      <% end %>                
    </ul>
  </div>
<% end %>