.hide {
  display:none;
}

.platform {
  margin: 20px auto;
  background-color: #fff;
}

.resume_header {
  padding:40px;
  padding-bottom:30px;
  background-image: image_url("bg.png");
  border-radius: 15px;
}

.image_polaroid {
  border-radius: 20px;
}


.resume_main {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  padding: 5px;
  border: 1px;
  ul {
    padding-left: 0;
  }
}



/* Portrait tablet to landscape and desktop */
@media (min-width: 900px) { 
  .platform {width:980px; }
  /*.section-title { width: 180px; }
  .section-body { width: 690px; }
  
  .pdf {position: fixed; top:189px; margin-left: 340px;}

  .item-name { max-width:550px; font-size: 16px; font-weight: bold; color: #2e4dbf;}*/
  .item-desc { max-width:550px; font-size:14px; font-style: italic;}
  /*.item-period {border: 1px solid #ddd; font-size: 12px;}  /* padding:2px 5px 2px 5px;} */
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
  .name-text {margin-top: 15px;}
  .main {padding:20px; padding-bottom:25px;}
  .platform {margin: 10px auto;}
  .header {padding:10px; padding-bottom:0px;}
  /*.seperator {margin: 5px 0 10px 0;}
  .inner-seperator {margin:5px 0 10px 0; }*/
}


