/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
  }
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    line-height: 40px;
    text-indent: 20px;
    a {
      color: #999999;
      display: block;
      text-decoration: none;
      &:hover {
        color: #fff;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  a {
    color: #999999;
    &:hover {
      color: #fff;
      background: none;
    }
  }
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: image-url('mongolia_desolate_tracks.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Resume */

.resume {
  padding: 50px 0;
}

/* Hello */

.hello {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.hello-item {
  margin-bottom: 15px;
}

i.hello-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: image_url('gobi_dunes.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
  a {
    text-decoration: none;
    color: inherit;
  }
}


/* contact section */

.form-control {
  display: block;
  width: 100%;
  height: 49px;
  padding: 10px 12px;
  font-size: 17px;
  line-height: 1.6;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.inner-page {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.page-headline {
  font-size: 42px;
  text-align: center;
}

#contact-form textarea,
#contact-form input {
  /* width: 100%; */
  padding: 5px;
  margin: 5px 0;
  text-indent: 5px;
}
#contact-form .btn {
  margin-top: 25px;
}
/* end contact */

/* error styling */
#error_explanation {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: white;
  border-radius: 10px;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 3;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* end error styling */


i.scroll {
  color: #333333;
  &:hover {
    color: #0a5175;
  }
}


/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: image_url('mongolia_desolate_tracks.jpg') no-repeat center center scroll;
  }

  .callout {
	background: image_url('gobi_dunes.jpg') no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }

}